* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
    outline: none;
}

html {
    background: gray;
}

body {
    overflow-x: hidden;
}

#root {
    background: url('img/wp.jpg') center center no-repeat;
    background-size: cover;
    font-size: 16px;
    height: 100%;
    min-height: 100vh;	
    padding-bottom: 350px;
}
